#about {
    left: 50%;
    max-width: 40%;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
}

.about__text {
    color: grey;
    letter-spacing: 1px;
    line-height: 1.4rem;
    margin-top: 1rem;
    text-align: justify;
}

.about__text:first-child {
    margin-top: 0;
}
