.bighero {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}

.bighero--about-display {
    top: 25%;
    transition: all 0.5s ease-in-out;
}

.bighero__header {
    font-weight: lighter;
    text-transform: capitalize;
    vertical-align: bottom;
}

.bighero__button {
    background-color: #121212;
    border: 1px solid rgb(23, 167, 88);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    margin-top: 1rem;
    outline: #121212;
    padding: 0.8rem 4rem;
    position: absolute;
    text-transform: uppercase;
    top: 43%;
    transition: all 0.5s linear;
    transform: translateX(-50%);

    &:hover {
        background-color: rgb(23, 167, 88);
    }
}
