.contact {
    margin: 2rem 0;
}

.contact__list {
    color: grey;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.contact__list-item {
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: white;
    }
}

.contact__list-item a {
    color: grey;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: white;
    }
}
