.nav {
    padding-top: 2rem;
}

.nav__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav__list-item {
    display: inline-block;
    margin: 0 9rem;
    padding: 0.5rem 1rem;
    position: relative;
    transition: all 0.3s ease-out;

    &:hover {
        color: grey;
        cursor: pointer;
    }

    &:hover .nav__slider {
        width: 100%;
    }
}

.nav__slider {
    background-color: #fff;
    display: block;
    height: 0.1rem;
    left: 0;
    margin: 0.2rem auto;
    position: absolute;
    transition: width 1s ease;
    width: 25%;
}
