.nav {
    font-size: 1.1rem;
    font-weight: bold;
    left: 50%;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    transform: translateX(-50%);
    top: 2%;
    width: 80%;
}

.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav__list-item {
    color: grey;
    transition: all 0.3s ease-out;

    &:hover {
        color: white;
        cursor: pointer;
    }
}
