.nav {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 2rem 0;
    text-transform: uppercase;

    &__list {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    &__list-item {
        color: grey;
        transition: all 0.3s ease-out;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    &__list-item a {
        color: grey;
        text-decoration: none;
        transition: all 0.3s ease-out;

        &:hover {
            color: white;
        }
    }
}
