.portfolio {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 45.2%;
    transform: translateX(-50%);
    width: 80%;
}

.portfolio__project {
    margin-top: 1.8rem;
}

.portfolio__project:first-child {
    margin-top: 0;
}

.portfolio__project-num {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-right: 0.2rem;
}

.portfolio__project-link {
    color: grey;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(23, 167, 88);
        letter-spacing: 2px;
    }
}

.portfolio__frameworks {
    color: white;
    display: none;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: 2px;
    list-style: none;
    text-transform: uppercase;
    transition: display 1s ease;
    transition-delay: 5s;

    & li {
        margin-top: 0.5rem;
    }
}

.portfolio__project-title {
    display: inline-block;
    transition: all 1s ease;
    transition-delay: 1s;
}

.portfolio__project-title:hover ~ ul {
    display: block;
    transition-delay: 1s;
}
