.portfolio {
    // margin: 1rem auto 0 auto;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 45.2%;
    transform: translateX(-50%);
    width: 80%;
}

.portfolio__project {
    // display: flex;
    margin-top: 1.8rem;
}

.project__plus {
    color: white;
}

.portfolio__project:first-child {
    margin-top: 0;
}

.portfolio__project-num {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-right: 0.2rem;
}

.portfolio__project-link {
    color: grey;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(23, 167, 88);
        letter-spacing: 2px;
    }
}

.portfolio__frameworks {
    color: white;
    // display: flex;
    display: none;
    font-size: 0.8rem;
    justify-content: space-evenly;
    // font-weight: lighter;
    list-style: none;
    text-transform: uppercase;

    & li {
        margin-top: 0.5rem;
    }
}
