.portfolio__project {
    // align-items: center;
    // // background: white;
    // display: flex;
    // justify-content: space-between;
    // width: auto;
}

.portfolio__project-title {
    // margin: 1.8rem 0;
}

.portfolio__project-num {
    font-size: 0.8rem;
    font-weight: lighter;
    margin-right: 0.2rem;
}

.portfolio__project-link {
    color: grey;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: rgb(23, 167, 88);
        letter-spacing: 2px;
    }
}

.portfolio__frameworks {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: lighter;

    & li {
        margin: 1rem;
    }
}
