* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    background: url(../../images/hero.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
