* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: url(../../images/hero.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
}

html,
body {
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
