.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 85rem;
    min-height: 100vh;
    justify-content: space-between;
}

.wrapper__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 35rem;

    @media (max-width: 600px) {
        margin: 0 1rem;
    }
}
